.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-inline: 1em;
}
.about-me {
  display: flex;
}
.about-me h5 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.035em;
  color: white;
  margin-left: 0.7em;
  margin-top: 1em;
}
.icon {
  color: white;
  font-size: 40px;
}
.icon1 {
  color: white;
  margin-left: 1em;
  margin-top: 0.8em;
}
.icon2 {
  color: white;
  margin-top: 0.8em;
  margin-left: 1em;
}
.dropdown {
  width: 40%;
  padding: 1em;
  border: 1px solid white;
  height: 220px;
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  margin-top: 1em;
}
.button-container {
  display: flex;
  margin-bottom: 0.8em;
  margin-top: 1em;
  margin-left: 2rem;
  background-color: lightgray;
  border-radius: 10px;
  padding: 1em;
}
.button-second-container {
  display: flex;
  margin-bottom: 0.8em;
  margin-top: 1em;
  margin-left: 2rem;
  border-radius: 10px;
  padding: 1em;
}
.button-end-container {
  display: flex;
  margin-bottom: 0.8em;
  margin-top: 1em;
  margin-left: 4rem;
}
.button-end-container {
  color: #eb5757;
  font-size: 25px;
}
.button-end-container h3 {
  color: #eb5757;
  margin-left: 1em;
  font-size: 15px;
}
.button-container h3 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.035em;
  color: #4f4f4f;
  margin-left: 1em;
}
.button-second-container h3 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.035em;
  color: #4f4f4f;
  margin-left: 1em;
}
