.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.about-me {
  display: flex;
  justify-content: end;
  margin-right: 1em;
}
.about-me h5 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.035em;
  color: white;
  margin-left: 0.7em;
  margin-top: 1em;
}
.icon {
  color: white;
  font-size: 40px;
}
.icon1 {
  color: white;
  margin-left: 1em;
  margin-top: 0.8em;
}
.icon2 {
  color: white;
  margin-top: 0.8em;
  margin-left: 1em;
}
.dropdown {
  width: 40%;
  padding: 1em;
  border: 1px solid white;
  height: 220px;
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  margin-top: 1em;
  position: absolute;
  z-index: 17;
}
.dropdowns {
  width: 40%;
  padding: 1em;
  border: 1px solid white;
  height: 220px;
  border-radius: 10px;
  background-color: white;
  margin-top: 1em;
  position: absolute;
  top: 0;
  z-index: 19;
  transform: translate(80%, 30%);
}
.button-container {
  display: flex;
  margin-bottom: 0.8em;
  margin-top: 1em;
  margin-left: 2rem;
  background-color: lightgray;
  border-radius: 10px;
  padding: 1em;
}
.button-second-container {
  display: flex;
  margin-bottom: 0.8em;
  margin-top: 1em;
  margin-left: 2rem;
  border-radius: 10px;
  padding: 1em;
}
.button-end-container {
  display: flex;
  margin-bottom: 0.8em;
  margin-top: 1em;
  margin-left: 4rem;
}
.button-end-container {
  color: #eb5757;
  font-size: 25px;
}
.button-end-container h3 {
  color: #eb5757;
  margin-left: 1em;
  cursor: pointer;
  font-size: 15px;
}
.about-me img {
  width: 10%;
  border-radius: 10px;
}
.button-container h3 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.035em;
  color: #4f4f4f;
  margin-left: 1em;
}
.dropdowns h1 {
  font-size: 1.2rem;
}
.button-second-container h3 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.035em;
  color: #4f4f4f;
  margin-left: 1em;
}
.button-delete-container {
  display: flex;
  margin-top: 1em;
}
.warn {
  background-color: goldenrod;
}
.button-delete-container button {
  margin-left: 0.5em;
}
.red {
  background-color: #eb5757;
}
@media (max-width: 675px) {
  .dropdown {
    margin-inline: auto;
    width: 90%;
  }
  .dropdowns {
    margin-inline: auto;
    width: 90%;
    margin-top: 6em;
    margin-left: 1em;
  }
}
