* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #333333;
  font-family: "Noto Sans", sans-serif;
}
.container {
  border: 1px solid white;
  width: 30%;
  margin: 0 auto;
  padding: 1.2em;
  display: flex;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
}
.subContainer {
  margin-right: 0;
  margin-left: 30px;
}
.typography h3 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.035em;
  color: #e0e0e0;
  margin-top: 1.1em;
  max-width: 350px;
}
.typography h4 {
  font-style: normal;
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.035em;
  margin-top: 1.5em;
  color: #e0e0e0;
  margin-bottom: 1.3em;
}
input {
  display: block;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  margin-top: 1.2em;
  background-color: #333333;
  border-radius: 8px;
  width: 90%;
  height: 45px;
  padding-left: 0.5em;
  font-size: 18px;
}
input:last-child {
  margin-bottom: 1em;
}
button {
  background: #2f80ed;
  border-radius: 8px;
  width: 90%;
  height: 45px;
  border: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.035em;
  color: #ffffff;
  margin-bottom: 1.2em;
}
.pointer {
  pointer-events: none;
}
p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.035em;
  color: #828282;
  text-align: center;
  margin-bottom: 1em;
}
.extraLoginDiv {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 2em;
}
.extraLoginDiv img:hover {
  border: 2px solid #2f80ed;
  border-radius: 50%;
}
.disabledbutton {
  background-color: #d3d3d3; /* pale gray */
}

button a {
  color: #e0e0e0;
  text-decoration: none;
}
a {
  color: #2f80ed;
}
@media (max-width: 570px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 571px) and (max-width: 960px) {
  .container {
    width: 50%;
  }
}
